footer button{
  background-color: #dec8c8;
  border-radious:50%;
  border: none;
  color:#000;
  padding:5px 10px 5px 5px;
  margin:10px;
}

h1 {
  font-family:lucida calligraphy;
  color: deeppink;
}

.color{
  background: #FFF0F5;
}


.footer {
  background-color: red;
  background: #FFF0F5;
  padding: 0px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #170c0c;
}


.jumbotron {
  text-align: center;
  background-image:url("../images/bird.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  width: 100%;
  background-attachment: fixed;

}
