ul.nav li{
    display: inline-block;
    padding-right: 10px;
}

#about_blue {
  background-color: #F0F8FF;
  border: 2px solid black;
}
#about_blue ul {color: blue;}
#about_yellow {
color: orange;
background-color: #FFEBCD;     
border: 2px solid black;
}
#about_yellow .important{
  color: orange;
  font-weight: bold;
  size: 16px;
}
#about_blue .important{
  color:blue;
  font-weight: bold;
  size: 16px;
}
p{
  color: black;
}
.nav a{
  background-color: red;
  color: white;
  }
h2{
  color: black;
  font-weight: bold;
}
